<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name ="marketlancing project for test automation" parallel="tests">

<listeners>
<listener class-name= "com.qa.Listener.CustomListener"/>
</listeners>


<listeners>
<listener class-name= "com.qa.Listener.ExtentReporterNG"/>
</listeners>

<test name="marketlancing Test">

<classes>
 
 <class name="com.Marketlancing.qa.testcases.LoginPageTest"/>
 <class name="com.Marketlancing.qa.testcases.HomePageTest"/>
 <class name="com.Marketlancing.qa.testcases.DashBoardTest"/>
 
 </classes>
 </test>
</suite>